html,body { margin:0; height:100%;}
/* Fond d'écran */

.fond1
{
    background-image: url("../img/fond1.jpg");
    height: 220%;
    background-position: center;
    background-repeat: no-repeat;
}
.fond2
{

    background-color: deepskyblue ;

}
.fond3
{

    background-color: #adb5bd ;
    height: 100%;

}


.h1rouge{
    color: red;
    font-style: italic;
}

.h5blanc{
    color: white;

}
.prouge2{
    color: yellow;
    font-size: 20px;

}
.paragraphe1{
    font-size:22px
}

.parallax
{
    background-image: url("../img/terre-battue-synthetique.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paddindtop{

    padding-top: 5%;
}

.paddindtop3{

    padding-top: 15%;
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width: 480px)
{
    .fond1
    {
        background-image: url("../img/Fondmobile.png");
        height: 150%;
        background-position: center;
        background-repeat: no-repeat;

    }
    .h1a
    {
        color: white;
        font-size: 22px;

    }
    .parallax
    {
        background-image: url("../img/terre-battue-synthetique.jpg");
        height: 120%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .fond1
    {
        background-image: url("../img/fondmediaquerietablette.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .parallax
    {
        background-image: url("../img/terre-battue-synthetique.jpg");
        height: 120%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }



}


/* Trouver ce code css sur le site suivant: https://codepen.io/ccrch/pen/yyaraz */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

body {
    background: #fff;
    color: #000;
    margin: 0;
}

.tiles {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;

}

.tile {
    position: relative;
    float: left;
    width: 33.333%;
    height: 100%;
    overflow: hidden;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}

.txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
}

.x {
    font-size: 32px;
    line-height: 32px;
}

